{% extends "base.html" %}
{% block content %}


<form action="/countries/{{ country.id }}" method="post">

  <div>
    <label for="name">Country Name:</label>
    <input type="text" id="name" name="name" value="{{country.name}}" required autofocus>
  </div>

  <div>
    <label for="population">Population:</label>
    <input type="text" id="population" name="population" value="{{country.population}}" required autofocus>
  </div>

  <div>
    <label for="language_spoken">Language:</label>
    <input type="text" id="language" name="language_spoken" value="{{country.language_spoken}}" required autofocus>
  </div>

  <div>
    <label for="currency">Currency:</label>
    <input type="text" id="currency" name="currency" value="{{country.currency_used}}" required autofocus>
  </div>

  <div>
    <label for="temperature">Temperature:</label>
    <input type="text" id="temperature" name="temperature" value="{{country.average_temperature}}" required
      autofocus>
  </div>


  <button type="submit">Update Country</button>

</form>

{% endblock %}