{% extends "base.html" %}
{% block content %}



{% for country in all_countries %}
<div class="countries">

    <h2><br><b>{{country.name}}</h2>
    <br><b>Population:</b> {{country.population}}
    <br><b>Language:</b> {{country.language_spoken}}
    <br><b>Currency:</b> {{country.currency_used}}
    <br><b>Average Temperature:</b> {{country.average_temperature}}
    <br><b>Visited:</b> {{country.visited}}

    <form action="/countries/{{country.id}}/delete" method="POST">
        <button type="delete">Delete</button>
    </form>
    <form action="/countries/{{country.id}}/edit" method="GET">
        <button type="edit">Edit</button>
    </form>

</div>
  {% endfor %}
  {% endblock %}