{% extends "base.html" %}
{% block content %}



{% for country in all_countries %}
<div class="country">
  <div class="city">
    <div class="name">
      <p>{{country.name}}</p>
      <br>Population: {{country.population}}
      <br>Language: {{country.language_spoken}}
      <br>Currency: {{country.currency_used}}
      <br>Average Temperature: {{country.average_temperature}}
      <br>Visited: {{country.visited}}
    </div>

    <div>
      <form action="/countries/{{country.id}}/delete" method="POST">
        <button type="delete">Delete</button>
      </form>

    </div>

    <div>
      <form action="/countries/{{country.id}}/edit" method="GET">
        <button type="edit">Edit</button>
      </form>

    </div>

  </div>
  {% endfor %}
  {% endblock %}