{% extends "base.html" %}
{% block content %}

<h1> Add a Country</h1>
<p> Fill out the form below to add a Country to your bucket list.</p>

<form action="/countries" method="post">

  <div>
    <label for="name">Country Name:</label>
    <input type="text" id="name" name="name" placeholder="Country Name" required autofocus>
  </div>

  <div>
    <label for="population">Population:</label>
    <input type="text" id="population" name="population" placeholder="Population" required autofocus>
  </div>

  <label for="language_spoken">Langauge:</label>
  <select id="language_spoken" name="language_spoken">
    <option value="italian">Italian</option>
    <option value="arabic/french">Arabic/French</option>
    <option value="english">English</option>
    <option value="german">German</option>
  </select>

  <label for="currency">Currency:</label>
  <select id="currency_used" name="currency_used">
    <option value="euro">Euro</option>
    <option value="dirham">Dirham</option>
    <option value="dollars">Dollars</option>
  </select>

  <div>
    <label for="temperature">Temperature:</label>
    <input type="text" id="average_temperature" name="average_temperature" placeholder="Temperature" required autofocus>
  </div>


  <div>
    <label for="visited">Visited:</label>
    <select id="visited" name="visited">
      <option value="True">Visited</option>
      <option value="False">Not Visited</option>
    </select>
  </div>

  <button type="submit">Add Country</button>

</form>

{% endblock %}