{% extends "base.html" %}
{% block content %}


{% for city in all_cities %}
<div class="country">
  <div class="city">
    <div class="name">
      <p>{{city.name}}</p>
      <br>City Type: {{city.city_type}}
      <br>Visited: {{city.visited}}
    </div>

    <div class="delete-button">
      <form action="/cities/{{city.id}}/delete" method="POST">
        <button type="delete">Delete</button>
      </form>

      <div>
        <form action="/cities/{{city.id}}/edit" method="GET">
          <button type="edit">Edit</button>
        </form>

      </div>

    </div>
  </div>
  {% endfor %}
  {% endblock %}