{% extends "base.html" %}
{% block content %}

<form action="/cities" method="post">

  <div>
    <label for="name">City Name:</label>
    <input type="text" id="name" name="name" placeholder="City Name" required autofocus>
  </div>

  <label for="city_type">City Type:</label>
  <select id="city_type" name="city_type">
    <option value="city break">City Break</option>
    <option value="beach">Beach Holiday</option>
    <option value="family">Family Holiday</option>
    <option value="romantic">Romantic Holiday</option>
  </select>




  <button type="submit">Add City</button>

</form>

{% endblock %}
