body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
  }
  
  h1 {
    color:#1a567b;
  }

  h2 {
    color:#1a567b
  }

  p {
    color:#1a567b;
  }

  .city {
    display: flex;
    background-color: #0094e4;
    color: white;
    border-radius: 12px;
    border: 2px solid #EFEFEF;
    margin: 20px;
    padding: 20px
  }
  
  .name {
    color: white;
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
  }
  
  
  .buttons {
    margin-top: 10px;
    margin-left: 2px;
    font-size: 1.4em;
    color: #0094e4;
  }
  
  .buttons i {
    width: 80px;
  }
  
  input, select, button {
    font-size: 100%;
    font-weight: bold;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
    color: #1a567b;
    border-radius: 12px;
    border: 2px solid #EFEFEF;
  }
  
  .delete-button{
    display: contents;
    background-color:#0094e4;
  }
  
  
  .delete-form{
    display: inline;
  }
  
  .menu{
    text-align: center;
    display: flex;
    padding: 10px;
    background-color:#EFEFEF;
    color:#0094e4;
  }
  
  .menu li a{
    text-decoration: none;
    text-align: center;
  }
  
  .menu li a:visited{
    color:#0094e4;
    text-align: center;
  }
  
  .menu li{
    text-align: center;
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;
  }
  
  .container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 auto;
  }
  
  .cities {
    background-color: #0094e4;
    color: white;
    border-radius: 12px;
    border: 2px solid #EFEFEF;
    margin: 20px;
    padding: 20px;  
  }

  

  .countries {
    background-color: #0094e4;
    color: white;
    border-radius: 12px;
    border: 2px solid #EFEFEF;
    margin: 20px;
    padding: 20px;  
  }