<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Travel Bucket List</title>
</head>
<body>
  <header>
    <nav>
      <ul class="menu">
        <li><a href="/">Home</a></li>
        <li><a href="/countries/show">Bucket List</a></li>
        <li><a href="/cities/add">New Location</a></li>
      </ul>
    </nav>
  </header>
  <h1> Welcome to your travel bucket list</h1>
  <p> A place for you to add, remove, edit and check the places you've visited.</p>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  {%block home%}
  {% endblock %}
</body>
</html>
