<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <title>Travel Bucket List</title>
</head>
<body>
  <header>
    <nav>
      <ul class="menu">
        <!-- <img src="static/images/bucket_list_small.png" alt="Bucketlist logo" width=100px> -->
        <li><a href="/">Home</a></li>
        <li><a href="/bucketlist">Bucket List</a></li>
        <li><a href="/cities/new">Add City</a></li>
        <li><a href="/countries/new">Add Country</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {% block content %}
    {% endblock %}
  </div>

  {%block home%}
  {% endblock %}
</body>
</html>
