{% extends "base.html" %}
{% block content %}

<h1> Welcome to your travel bucket list</h1>
<p> This is where you can view all the places you've visited.</p>

<br>
<br>
<!-- ___________ALL CITIES LIST______________ -->
<h2>Cities</h2>
{% for city in all_cities %}
<div class="cities">
    <br><a href="/cities/{{city.id}}">
        <br>{{city.name}}</a>
        <br><b>City Type:</b> {{city.city_type}}
</div>
{% endfor %}





<!-- ___________ALL COUNTRIES LIST______________ -->

<h2>Countries</h2>
{% for country in all_countries %}
<div class="countries">
    <br><a href="/countries/{{country.id}}">{{country.name}}</a>
    <br><b>Population:</b> {{country.population}}
    <br><b>Language:</b> {{country.language_spoken}}
    <br><b>Currency:</b> {{country.currency_used}}
    <br><b>Average Temperature:</b> {{country.average_temperature}}
</div>
{% endfor %}

{% endblock %}